@model IEnumerable<JudgeSystem.Application.Models.SolutionOutput>
@{
    ViewData["Title"] = "TeamOverview";
    var counter = 0;
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>
                @ViewBag.TeamName
            </h2>
        </div>
        <div class="card-body">
            <div class="alert alert-info">
                Click submissions for more information.
            </div>
            <h4>Submissions:</h4>
            <div class="accordion" id="accordion">
                @foreach (var item in Model)
                {
                    if (string.IsNullOrEmpty(item.ScoreOutput.errorMessage))
                    {
                        <div class="card">
                            <a data-toggle="collapse" href="@("#collapse" + counter)" class="card-header">
                                <h4 class="mb-0">
                                    @item.ProblemName
                                    <small class="float-right">@item.ScoreOutput.Total</small>
                                </h4>
                            </a>
                            <div id="@("collapse" + counter)" class="collapse">
                                <div class="card-body">
                                    <div>Score from rides: @item.ScoreOutput.rawScore</div>
                                    <div>Bonus score: @item.ScoreOutput.bonusScore</div>
                                    <br />
                                    <div>Rides taken: @item.ScoreOutput.taken</div>
                                    <div>Rides Unassigned: @item.ScoreOutput.unassigned</div>
                                    <div>Late pickups: @item.ScoreOutput.late</div>
                                    <div>Total wait time: @item.ScoreOutput.waitTime</div>
                                    <a href="/visualization/@item.SolutionId" class="btn btn-primary">
                                        Open visualization
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card">
                            <a data-toggle="collapse" href="@("#collapse" + counter)" class="card-header">
                                <h4 class="mb-0">
                                    @item.ProblemName
                                    <small class="float-right txt-red">ERROR see details</small>
                                </h4>
                            </a>
                            <div id="@("collapse" + counter)" class="collapse">
                                <div class="card-body">
                                    <div>Error: @item.ScoreOutput.errorMessage</div>
                                </div>
                            </div>
                        </div>
                    }
                    counter++;
                }
            </div>
        </div>
    </div>
</div>
