@model JudgeSystem.Application.Models.CalculationModels.Score;
@{
    ViewData["Title"] = "Visualization";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            @if (string.IsNullOrEmpty(Model.errorMessage))
            {
                <h2>Details</h2>
                <div>Score from rides: @Model.rawScore</div>
                <div>Bonus score: @Model.bonusScore</div>
                <br />
                <div>Rides taken: @Model.taken</div>
                <div>Rides Unassigned: @Model.unassigned</div>
                <div>Late pickups: @Model.late</div>
                <div>Total wait time: @Model.waitTime</div>
                <hr />
            }
            else
            {
                <div class="txt-red">Can not visualize this output.</div>
            }
            <div id="gridWidth" class="mt-4"></div>
            <div id="gridHeight"></div>
            <div>
                <span>Randomly selected 100 rides for output.</span>
                <span>|</span>
                <span>Circles at the destination.</span>
            </div>
            <div>
                <span style="color: black">Rides taken.</span>
                <span>|</span>
                <span style="color: #00FF00">Rides with bonus.</span>
                <span>|</span>
                <span style="color: #FF0000">Rides taken that are late.</span>
            </div>
            <canvas id="myCanvas" width="800" height="800" style="border:2px solid #d3d3d3;"></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/draw.js"></script>
}
